/wine-1.6.1.tar.bz2.sign
/wine-1.6.1.tar.bz2
/wine-1.7.15.tar.bz2
/wine-1.7.15.tar.bz2.sign
/wine-1.7.16.tar.bz2
/wine-1.7.16.tar.bz2.sign
/wine-1.7.17.tar.bz2.sign
/wine-1.7.17.tar.bz2
/wine-1.7.18.tar.bz2
/wine-1.7.18.tar.bz2.sign
