[Desktop Entry]
Name=Wine File
Comment=Wine File Browser
Exec=winefile
Icon=winefile
Terminal=false
Type=Application
Encoding=UTF-8
Categories=X-Wine;
