[Desktop Entry]
Name=WineMine
Comment=Wine Minesweeper 
Exec=winemine
Icon=winemine
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;Game;LogicGame;
