[Desktop Entry]
Name=Wine Software Uninstaller
Comment=Interface to uninstall software
Exec=wine uninstaller
Icon=wine
Terminal=false
Type=Application
Encoding=UTF-8
Categories=X-Wine;
