[Desktop Entry]
Name=Wine Configuration
Comment=Interface to set wine parameters
Exec=winecfg
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;Wine;
